<!DOCTYPE html>

<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <title>{{titulo}}</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="" id="form">
                    <div class="modal fade" id="precadastro" tabindex="-1" aria-labelledby="precadastroLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Pré-Cadastro</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="alert alert-warning" role="alert" id="alert">
                                    Todos os campos com <span class="text text-danger">*</span> são obrigatórios!
                                </div>
                                <div class="modal-body">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="nome" name="nome" placeholder="">
                                        <label for="floatingInput">Nome<span class="text text-danger">*</span> </label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="login" name="login" placeholder="">
                                        <label for="floatingInput">Login<span class="text text-danger">*</span> </label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="">
                                        <label for="floatingInput">E-mail<span class="text text-danger">*</span>
                                        </label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" id="senha" name="senha"
                                            placeholder="">
                                        <label for="floatingInput">Senha<span class="text text-danger">*</span> </label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Sair</button>
                                    <button type="button" id="btnsalvar" class="btn btn-primary">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    </form>
    <div class="container d-flex justify-content-center" style="margin: 15% auto; width: 25%;">
        <div class="row">
            <div class="col-12">
                <form action="" method="POST">
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" name="login" class="form-label">Login</label>
                        <input type="text" class="form-control" id="loginInput" placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Senha</label>
                        <input type="password" name="senha" class="form-control" id="senhaInput" placeholder="">
                    </div>
                    <input type="checkbox" name="lembre" id="lembre"> Lembre-me
                    <div>
                        <br>
                        <button type="button" id="logar" class="btn btn-primary">Login</button>
                        <button type="button" class="btn btn-link">Esqueceu a senha?</button>
                        <button type="button" class="btn btn-link" data-bs-toggle="modal"
                            data-bs-target="#precadastro">Pré-cadastro</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="/js/login.js"></script>
</body>

</html>